<!Doctype html>
<html>
<head>
	<title>Home Page</title>
</head>
<body>
	<header style="background-color: black; text-align: center;	color: white; font-size:60px;" >
		<p style="margin-top: 0">Home Page</p>
	</header>
	<img src="header.jpg" alt="Home Page Image" width="1904">
	<hr>
	<table style="border-spacing: 10px">
		<tr>
			<td>
				<p style="text-align: justify; "> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut mauris et libero venenatis semper. Etiam eleifend tempus metus, id tristique ipsum maximus sed.ulla et risus mattis, condimentum massa lobortis, gravida libero. Pellentesque eget tellus purus. Mauris iaculis turpis eros, bibendum hendrerit velit aliquet eu. Ut malesuada, ex et ultrices dignissim, augue neque semper sapien, sed dictum urna metus quis eros. Sed bibendum massa nec arcu dictum eleifend sed sit amet orci. Nam vel libero ligula. Pellentesque pretium accumsan sem, sit amet interdum erat laoreet maximus. Nam id interdum erat.
				</p>
				<p style="text-align: justify; ">Etiam id efficitur elit. Aliquam non risus a quam mattis dictum. Etiam rutrum erat id laoreet accumsan. Proin quam urna, efficitur sit amet eleifend ut, aliquam a ex. Proin id imperdiet eros, vitae ornare neque. Fusce non mi iaculis, pellentesque turpis a, rutrum est. Sed hendrerit purus eget arcu posuere bibendum. Maecenas rutrum sem efficitur lacus iaculis, quis malesuada diam porta. Mauris vehicula non massa id luctus. Praesent sit amet dolor ac quam laoreet egestas. Morbi fringilla, justo at eleifend tristique, leo augue fringilla ipsum, vitae fermentum velit libero vitae est. Praesent luctus rutrum mi a cursus. Aliquam cursus dolor gravida, rhoncus lectus vitae, sodales nulla. Donec mollis elit quis ultrices sagittis. Quisque venenatis dignissim diam fermentum fringilla.
				</p>
			</td>
			<td>
				<p style="text-align: justify; "> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut mauris et libero venenatis semper. Etiam eleifend tempus metus, id tristique ipsum maximus sed.ulla et risus mattis, condimentum massa lobortis, gravida libero. Pellentesque eget tellus purus. Mauris iaculis turpis eros, bibendum hendrerit velit aliquet eu. Ut malesuada, ex et ultrices dignissim, augue neque semper sapien, sed dictum urna metus quis eros. Sed bibendum massa nec arcu dictum eleifend sed sit amet orci. Nam vel libero ligula. Pellentesque pretium accumsan sem, sit amet interdum erat laoreet maximus. Nam id interdum erat.
				</p>
				<p style="text-align: justify; ">Etiam id efficitur elit. Aliquam non risus a quam mattis dictum. Etiam rutrum erat id laoreet accumsan. Proin quam urna, efficitur sit amet eleifend ut, aliquam a ex. Proin id imperdiet eros, vitae ornare neque. Fusce non mi iaculis, pellentesque turpis a, rutrum est. Sed hendrerit purus eget arcu posuere bibendum. Maecenas rutrum sem efficitur lacus iaculis, quis malesuada diam porta. Mauris vehicula non massa id luctus. Praesent sit amet dolor ac quam laoreet egestas. Morbi fringilla, justo at eleifend tristique, leo augue fringilla ipsum, vitae fermentum velit libero vitae est. Praesent luctus rutrum mi a cursus. Aliquam cursus dolor gravida, rhoncus lectus vitae, sodales nulla. Donec mollis elit quis ultrices sagittis. Quisque venenatis dignissim diam fermentum fringilla.
				</p>
			</td>
		</tr>
	</table>
	<footer style="background-color: black; text-align: center; color: white">
		<p>Lorem Ipsum</p>
		<p style="margin-bottom: 0"><%= link_to 'About', about_path %></p>
	</footer>
</body>
</html>