<!Doctype html>
<html>
  <head>
	 <title>Home Page</title>
  </head>
  <body>
    <div class="jumbotron">
      <h1>Home</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut mauris et libero venenatis semper.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more </a></p>
    </div>
    <div class="contnr">
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <div class="thumbnail-img"></div>
            <div class="caption">
              <h3>Thumbnail label</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut mauris et libero venenatis semper. Etiam eleifend tempus metus, id tristique ipsum maximus sed.ulla et risus mattis, condimentum massa lobortis, gravida libero. Pellentesque eget tellus purus. Mauris iaculis turpis eros, bibendum hendrerit velit aliquet eu.</p>
              <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <div class="thumbnail-img"></div>
            <div class="caption">
              <h3>Thumbnail label</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut mauris et libero venenatis semper. Etiam eleifend tempus metus, id tristique ipsum maximus sed.ulla et risus mattis, condimentum massa lobortis, gravida libero. Pellentesque eget tellus purus. Mauris iaculis turpis eros, bibendum hendrerit velit aliquet eu.</p>
              <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <div class="thumbnail-img"></div>
            <div class="caption">
              <h3>Thumbnail label</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut mauris et libero venenatis semper. Etiam eleifend tempus metus, id tristique ipsum maximus sed.ulla et risus mattis, condimentum massa lobortis, gravida libero. Pellentesque eget tellus purus. Mauris iaculis turpis eros, bibendum hendrerit velit aliquet eu.</p>
              <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
